/* custom css */

:root {
    --btn-color :#E02C6D ;
    --star-rating :#FB8200 ;
}

/* navigation */

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 87px 120px;
}

.nav-list {
    display: flex;
    gap: 34px;
}
.nav-list-item {
    list-style: none;
}
.nav-links{
    text-decoration: none;
    color: black;
}

/* banner */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 165px 0 120px;
}

.banner-title {
    font-size: 52px;
    font-weight: 700;
}

.banner-des {
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 26px;
}
.banner-img img {
    width: 440px;
    height: 414px;
}
.banner-btn {
    font-size: 16px;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-radius: 41px;
    transition: border .5s , color .5s , background-color .5s;
}
.banner-btn:hover {
    font-size: 16px;
    background-color: white;
    border: 1px solid var(--btn-color);
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 700;
    color: var(--btn-color);
    border-radius: 41px;

}
.fa-arrow-right {
    padding-left: 8px;
}
/* sponsor */
.sponsor {
    padding: 100px 165px ;
}
.sponsor-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor-icon {
    list-style: none;
}
/* section - 1 */
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1-title {
    padding-bottom: 30px;
}
.sec1-card-container{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    gap: 30px;
    justify-content: center;
}

.sec1-card-title {
    padding: 16px 0 6px 0;
    font-size: 28px;
    font-weight: 500;

}
.sec1-star-rating {
    list-style: none;
    display: flex;
}
.fa-solid.fa-star,.fa-star-half-stroke {
    color: var(--star-rating);
}
.sec1-rating{
    display: flex;
    gap: 8px;
    padding: 8px 0;
}
.sec1-img {
    width: 300px;
    border-radius: 5px;
}

.sec1-card-price {
    font-size: 24px;
    font-weight: 400;
}
.sec1-card-1{
    padding: 15px;
    border: 1px solid rgba(24, 18, 18, 0.397);
    box-shadow: 0px 0px 40px rgba(24, 18, 18, 0.397);
    border-radius: 5px;
    transition: box-shadow .3s;
}
.sec1-card-1:hover{
    border: 1px solid gray;
    box-shadow: 0px 0px 40px rgba(24, 18, 18, 0.637);
}